 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');
 
 * {
     box-sizing: border-box;
 }

 body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
 }

 p {
     font-size: 14px;
     line-height: 24px;
     font-weight: 400;
 }

 .container {
     width: 100%;
     max-width: 1140px;
     padding-left: 20px;
     padding-right: 20px;
     margin-right: auto;
     margin-left: auto;
 }

 *:focus {
     outline: 2px dottet #ff7500;
     outline-offset: 3px;
 }

 .site-header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header {
     border-top: 5px solid #ff7500;
     padding: 16px 0;
 }

 .logo-link {
     transition: opacity 0.4s;
 }

 .logo-link img {
     display: block;
 }

 .logo-link:hover {
    opacity: 0.8;
 }

 .logo-link:active {
     opacity: 0.6;
 }

 .header-actions {
     display: flex;
     align-items: center;
 }

 .site-navbar-items {
     display: flex;
     padding: 0;
     margin-right: 32px;
 }

 .site-navbar-items .site-navbar-item {
     list-style: none;
     padding: 0;
     margin-right: 32px;
 }

 .site-navbar-items:last-child {
     margin-right: 0;
 }

 .site-navbar-items .site-navbar-item a {
     font-size: 13px;
     line-height: 15px;
     letter-spacing: 1px;
     font-weight: 500;
     text-decoration: none;
     text-transform: uppercase;
     color: #000;
     transition: 0.4s ease;
 }

 .site-navbar-items .site-navbar-item a:hover {
     color: #ff7500;
 }

 .site-navbar-items .site-navbar-item a:active {
     opacity: 0.6;
 }

 .primary-button {
     display: inline-block;
     background-color: #ff7700;
     color: #fff;
     border-radius: 4px;
     text-decoration: none;
     font-weight: bold;
     padding: 12px 24px;
     transition: 0.4s ease;
 }

 .primary-button:hover {
    opacity: 0.8;
 }

 .primary-button:active {
    opacity: 0.6;
 }

 /* Hero */

 .hero-container {
     display: flex;
     justify-content: space-around;
 }

 .hero {
     background-color: #252420;
     color: #fff;
     padding-top: 80px;
     padding-bottom: 80px;
 }

 .hero-content {
     width: 390px;
 }

 .line {
     width: 80px;
     height: 3px;
     background-color: #ff7500;
     border: none;
     margin: 0 80px 30px 0;
 }

 .hero-heading {
     font-size: 40px;
     line-height: 1.2;
 }

 .hero-img {
     width: 510px;
     height: 510px;
     border-radius: 8px;
 }

 /* features */

 .features {
     padding: 210px 0;
 }

 .features-list {
    padding: 0;
    margin: 0;
 }

 .features-item {
    width: 340px;
}

.features-heading {
    width: 340px;
    font-weight:700; 
    font-size: 72px ;
    line-height:86,4px;
    letter-spacing:0.5px; 
    margin-top: 0;
    margin-bottom: 72px;
 }

 .feature-title {
     margin-top: 0;
     margin-bottom: 12px;
     font-size: 24px;
     line-height: 1.2;
 }

 .feature-info {
     margin: 0;
 }

 .features-heading span {
     color: #ff7500;
 }

 .features-item-img {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100px;
     height: 100px;
     background-color: rgba(255, 117, 0, 0.2);
     border-radius: 50%;
     margin-bottom: 32px;
 }

 .features-content .features-list {
     display: flex;
     /* justify-content: center; */
     align-items: center;
 }

 .features-content .features-list .features-item {
     list-style: none;
     margin-right: 40px;
 }

 .features-content .features-item:last-child {
     margin-right: 0;
 }

 /* Sale  */
 .sale {
     padding-top: 120px;
     padding-bottom: 160px;
 }

 .sale-container {
     background: #252420;
     color: #fff;
     padding: 64px;
     border-radius: 12px;
     display: flex;
     justify-content: space-around;
 }

 .sale-content {
     width: 440px;
 }

 .sale-content span {
     color: #ff7500;
 }

 .sale-heading {
     margin-top: 0;
     margin-bottom: 24px;
     font-size: 40px;
     line-height: 1.2;
 }

 .sale-info-wrapper {
     margin-bottom: 24px;
 }

 .sale-text {
     margin-top: 0;
     margin-bottom: 12px;
 }

 .sale-text:last-child {
     margin-bottom: 0;
 }

 .sale-img {
     border-radius: 10px;
 }

 /* \footer  */

 .footer {
     background: #dad8d8;
     padding: 56px 0;
 }

 .footer-top {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .footer-line {
     height: 3px;
     background-color: rgba(37, 36, 32, 0.2);
     border: 0;
     margin-top: 40px;
     margin-bottom: 64px;
 }

 .socials a i {
     font-size: 24px;
     color: #252420;
     padding: 0;
     transition: 0.4s;
     margin-right: 16px;
 }

 

 .socials a i:hover {
     color: #ff7500;
 }

 .socials a i:active {
     opacity: 0.6;
 }

 .footer-bottom-container {
     display: flex;
     justify-content: space-evenly;
 }

 .footer-items {
     padding: 0;
     margin: 0;
     margin-right: 40px;
     width: 224px;
 }

 .footer-items:last-child {
     margin-right: 0;
 }

 .footer-items li {
     list-style: none;
     line-height: 19px;
     margin-bottom: 16px;
 }

 .footer-items li:last-child {
     margin-bottom: 0;
 }

 .footer-items li a{
     display: block;
    text-decoration: none;
    color: #000;
    transition: 0.4s;
 }

 .footer-items li a:hover{
    color: #ff7500;
 }

 .footer-items li a:active {
     opacity: 0.6;
 }